<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="container">
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <a href="#performance"><i class="fas fa-microchip"></i> Performance Metrics</a>
    </div>
    <div class="main-content">
        <div id="performance">
            <div class="widget">
                <h3>Performance Metrics</h3>
                <table class="table" id="metricsTable">
                    <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>IP Address</th>
                            <th>Subnetwork</th>
                            <th>CPU Usage</th>
                            <th>Memory Usage</th>
                        </tr>
                    </thead>
                    <tbody id="metricsTableBody">
                        <!-- Data will be populated dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/metrics');

    // Event handler for receiving metrics updates
    socket.on('metrics_update', function (data) {
        updateMetrics(data);
    });

    // Function to update metrics table
    function updateMetrics(data) {
        var tableBody = document.getElementById('metricsTableBody');
        tableBody.innerHTML = '';

        Object.values(data).forEach(function(subnet) {
            subnet.forEach(function(device) {
                var row = `<tr>
                    <td>${device.name}</td>
                    <td>${device.ip}</td>
                    <td>${device.subnetwork}</td>
                    <td>${device.metrics.cpu_usage}%</td>
                    <td>${device.metrics.memory_usage}%</td>
                </tr>`;
                tableBody.innerHTML += row;
            });
        });
    }
</script>

</body>
</html>
